.site-header{
    color:#000000;
    font-family: 'Times New Roman', serif;
}

.site-header-text{
    margin:50px
}

.profile-pic {
   border-radius: 25%;   
   display: block;
   max-width: 25%;
   margin-left: 60px;
   margin-right: auto;
}

ul{
 list-style-type: square;
}

a{
    color: #000000;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

a:hover{
    color: #ffffff;
}

body{
    background-color: rgb(185, 223, 255) ;
    margin:0;
}
