.site-header{
    color:#ffffff;
    font-family: monospace, sans-serif;
}

.site-header-text{
    margin:50px
}

.profile-pic {
   border-radius: 50%;   
   display: block;
   max-width: 25%;
   margin-left: auto;
   margin-right: auto;
}

ul{
 list-style-type: square;
}

a{
    color: #000000;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

a:hover{
    color: #ffffff;
}

body{
    background-color: rgb(59, 224, 208) ;
    margin:0;
}
